<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762333574328-rgdirq6d27uu11h7ek2kro67o99d5vr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762333574328-rgdirq6d27uu11h7ek2kro67o99d5vr8</string>
	<key>API_KEY</key>
	<string>AIzaSyB-polhX5osJeN7H_WfX4SwxNulC3UeIcM</string>
	<key>GCM_SENDER_ID</key>
	<string>762333574328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterDemoPipeline</string>
	<key>PROJECT_ID</key>
	<string>fir-pipeline-d056d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-pipeline-d056d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762333574328:ios:6567cdd14bd1e42e71f04d</string>
</dict>
</plist>